html {

  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 20px 20px 20px 20px;

}

body {

  font-family: sans-serif;
  background-color: #cf6766;
  color: white;

}

h1{

  font-family: Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  text-align: center;

}

p{

  font-family: serif;
  font-size: 2rem;
}

ul.navigation {

  list-style-type: none;
  background-color: #30415d;
  margin-right: 100px;
  font-size: 36px

}

li {

  display: inline;
  padding: 12px;
  text-shadow: 1px 1px 1px;

}

nav a {

  color: white;
  text-decoration: none;
  padding: 3px;

}

nav a:hover {

  text-decoration: underline;

}

.selfie {

  border: 10mm solid #8eaebd;

}

article {

  background-color: #8eaebd;
  padding: 5mm;
  text-align: center;

}

footer {

  color: black;
  font-family: serif;
  font-size: 1.7rem;

}
