html {

  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 20px 20px 20px 20px;

}

body {

  font-family: sans-serif;
  background-color: #cf6766;
  color: white;
  margin-left: 35px;
  margin-right: 35px;

}

h1{

  font-family: Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  text-align: center;

}

p{

  font-family: serif;
  font-size: 2rem;

}

nav ul {

  list-style-type: none;
  background-color: #30415d;
  font-size: 30px;

}

nav li {

  display: inline-block;
  padding: 12px;
  text-shadow: 1px 1px 1px;

}

nav a {

  color: white;
  text-decoration: none;
  padding: 3px;

}

nav a:hover {

  text-decoration: underline;

}

.selfie {

  border: 1mm solid #8eaebd;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

article {

  background-color: #8eaebd;
  padding: 5mm;
  text-align: center;

}

div section {

  background-color: #8eaebd;
  padding: 12px;

}

section.expertise li{

  font-family: serif;
  font-size: 2rem;

}

section.courses li{

  font-family: serif;
  font-size: 2rem;

}

.LI-profile-badge{

  background-color: #8eaebd;
  padding: 12px;

}

footer {

  color: white;
  font-family: serif;
  font-size: 1.7rem;

}
